html {
    font-size: 10px;
    font-family: 'MuseoModerno', cursive;
    background-color: #b7bdc2;
}


body {
    padding: 5rem;
    background-color: #494e52;
    color: white;
    width: 50%;
    margin: 0 auto;
    
}

.logo {
    height: 20rem;
    width: 22rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 3.2rem;
    padding: 0;
}

label {
    font-family: inherit;
    font-size: 2rem;
}

input[type="number"] {
    font-family: inherit;
    background-color: white;
    width: 80%;
    margin: 1rem 0;
    padding: 0.8rem 0;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
}


button { 
    font-family: inherit;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(64, 163, 243) ;
    margin-bottom: 1rem;
}

ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li { 
    border: 1px solid;
    padding: 1rem 1.5rem;
}

.entriesWrapper {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.entriesWrapper h3 {
    margin: 0;
    text-align: center;
    font-weight: lighter;
}

.data {
    font-size: 1.4rem;

}

.data div {
    background-color: #141c22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0 1rem;
}

.progress {
    text-align: center;
    padding-bottom: 15rem;
}

.progress h3{
    font-size: 1.6rem;
    font-weight: lighter;
}

.progressCircleWrapper {
    display: flex;
    justify-content: center;
}

#progressCircle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* background: conic-gradient(green 50%, grey 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressCenter {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #494e52;
}
